<?xml version="1.0"?>
<config>
    <modules>
        <StackExchange_SingleSearchResult>
            <version>1.0.0</version>
        </StackExchange_SingleSearchResult>
    </modules>
    <global>
        <models>
            <stackexchange_singlesearchresult>
                <class>StackExchange_SingleSearchResult_Model</class>
            </stackexchange_singlesearchresult>
        </models>
    </global>
    <frontend>
        <events>
            <controller_action_layout_render_before_catalogsearch_result_index><!-- for the quick search-->
                <observers>
                    <stackexchange_singlesearchresult>
                        <model>stackexchange_singlesearchresult/observer</model>
                        <method>redirectToProduct</method>
                    </stackexchange_singlesearchresult>
                </observers>
            </controller_action_layout_render_before_catalogsearch_result_index>
            <controller_action_layout_render_before_catalogsearch_advanced_result><!-- for the advanced search-->
                <observers>
                    <stackexchange_singlesearchresult>
                        <model>stackexchange_singlesearchresult/observer</model>
                        <method>redirectToProduct</method>
                    </stackexchange_singlesearchresult>
                </observers>
            </controller_action_layout_render_before_catalogsearch_advanced_result>
        </events>
    </frontend>
</config>